<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="InTheHand.Forms" version="1.0.2017.1214" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SkiaSharp" version="1.59.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="UXDivers.GorillaPlayer.SDK" version="1.2.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Animations" version="0.5.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading" version="2.3.4" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.3.4" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading.Svg" version="2.3.4" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading.Svg.Forms" version="2.3.4" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.3.4" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.5.0.122203" targetFramework="portable45-net45+win8+wpa81" />
</packages>